<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="titre"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout>
        <Image [src]="imageEnteteDPI"></Image>
        <Label [text]="soustitre"></Label>
    </StackLayout>
    <StackLayout>
        <Label [text]="informations"></Label>
    </StackLayout>
    <StackLayout>
        <Button (tap)="coincoin()" texte="COIN ?"></Button>
    </StackLayout>
    <!-- Add your page content here -->
</GridLayout>